* {
  margin: 0;
  padding: 0;
}

#grid1 {
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 1fr;
}
#grid1 .item1 {
  grid-row: 1 / 3;
  grid-column: 1;
  background-color: #f8f;
}
#grid1 .item2 {
  grid-row: 1;
  grid-column: 2;
  background-color: #8f8;
}
#grid1 .item3 {
  grid-row: 2;
  grid-column: 2;
  background-color: #88f;
}

#grid2 {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 1fr;
  grid-template-areas: 
    "areaA areaB"
    "areaA areaC";
}
#grid2 .item1 {
  grid-area: areaA;
  background-color: #f8f;
}
#grid2 .item2 {
  grid-area: areaB;
  background-color: #8f8;
}
#grid2 .item3 {
  grid-area: areaC;
  background-color: #88f;
}

#grid3 {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 100px 100px 100px;
  /* grid-auto-flow: column; */
  /* grid-auto-flow: dense; */
  /* grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fill, 100px); */
  /* width: 500px;
  height: 300px;
  border: 1px solid #ccc; */
  /* justify-content: center;
  align-content: center; */
  /* grid-row-gap: 10px; */
  /* grid-column-gap: 30px; */
  /* justify-items: center;
  align-items: center; */
}
#grid3 > div {
  text-align: center;
  line-height: 100px;
}
#grid3 .item1 {
  background-color: #f8f;
  /* margin: 10px -10px -10px 10px;
  z-index: 1; */
}
#grid3 .item2 {
  background-color: #8f8;
  /* grid-row: span 2; */
  /* grid-column: span 3; */
  /* grid-row: 1;
  grid-column: 1; */
}
#grid3 .item3 {
  background-color: #88f;
  /* grid-row: span 2;
  grid-column: span 2; */
}
#grid3 .item4 {
  background-color: #f88;
  /* grid-row: 2;
  grid-column: 2; */
}
#grid3 .item5 {
  background-color: #ff8;
}
#grid3 .item6 {
  background-color: #8ff;
}

#grid4 {
  margin-top: 50px;
  width: 30em;
  height: 30em;
  display: grid;
  grid-definition-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-definition-rows: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  border: 1px solid #000;
  overflow: hidden;
}
#grid4-top-right {
  grid-column: 3;
  grid-row: 2;
  border: 1px solid blue;
  height: 7.5em;
}
#grid4-bottom-left {
  grid-column: 2;
  grid-row: 3;
  border: 1px solid red;
  height: 7.5em;
}
.exclusion {
  wrap-flow: clear;
}
#grid4-content {
  /* grid-row: 1; */
  /* grid-row-span: 4; */
  grid-row: 1/span 4;
  /* grid-column: 1; */
  /* grid-column-span: 4; */
  grid-column: 1/span 4;
}

#shapes1 {
  margin-top: 50px;
  overflow: hidden;
}
#shapes1 .img {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  border-radius: 50%;
  float: left;
  shape-outside: circle(50%);
  shape-image-threshold: 0.5;
  /* shape-outside: polygon(150px 0px, 200px 200px, 0px 200px); */
}
#shapes1 .txt {
  width: 400px;
}

#filters {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px;
}
#filters img {
  width: 100px;
}
#filters .grayscale {
  filter: grayscale(1);
}
#filters .sepia {
  filter: sepia(1);
}
#filters .opacity {
  filter: opacity(0.5);
}
#filters .brightness {
  filter: brightness(0.5);
}
#filters .contrast {
  filter: contrast(3);
}
#filters .blur {
  filter: blur(5px);
}

#masking {
  margin-top: 50px;
}
#masking .img {
  width: 300px;
}
#masking .img1 {
  -webkit-mask-image: url(img.png);
}
#masking .img2 {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#blending {
  margin-top: 50px;
  background-color: blueviolet;
}
#blending .img {
  width: 300px;
  mix-blend-mode: multiply;  
}
#blending2 {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  background: url(./img.png) blueviolet no-repeat center center;
  background-size: 100%;
  background-blend-mode: overlay;
}
