@charset "UTF-8";
/*----------dont edit css----------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", "ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 18px;
  line-height: normal;
  color: #333333;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

input, textarea {
  border: none;
  background: none;
  -webkit-appearance: none;
}

@media screen and (max-width: 767px) {
  body.is-open {
    overflow: hidden;
  }
}

.header {
  width: 100%;
  height: 80px;
  background: url(./../images/header_pc.png) #c30e23 no-repeat left top;
  position: fixed;
  left: 0;
  top: 0;
  text-indent: -9999px;
  z-index: 8000;
}

@media screen and (max-width: 767px) {
  .header {
    height: 55px;
    background-image: url(./../images/header_sp.png);
    background-position: center top;
    background-size: auto 100%;
  }
}

.footer {
  width: 100%;
}

.footer img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .footer {
    height: 130.66667vw;
    background: url(./../images/footer_sp.png) no-repeat center top;
    background-size: auto 100%;
  }
  .footer img {
    display: none;
  }
}

.main {
  display: block;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .main {
    margin-top: 55px;
  }
}

.section-main {
  height: 416px;
  background: url(./../images/section_main_pc.png) #fff no-repeat left top;
}

@media screen and (max-width: 767px) {
  .section-main {
    height: 88.26667vw;
    background-image: url(./../images/section_main_sp.png);
    background-size: auto 100%;
  }
}

.section {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 520px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .section {
    height: 100vw;
  }
}

.section-textarea {
  position: relative;
}

.section-txt {
  width: 566px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media screen and (max-width: 767px) {
  .section-txt {
    width: 37.73333vw;
    height: 33.73333vw;
  }
}

.section-link {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .section-link {
    margin-top: 9.33333vw;
  }
}

.section-link a {
  display: block;
  text-indent: -9999px;
  width: 120px;
  height: 19px;
  background: url(./../images/btn_detail_pc.png) no-repeat 0 0;
}

@media screen and (max-width: 767px) {
  .section-link a {
    width: 32.13333vw;
    height: 4.8vw;
    background-image: url(./../images/btn_detail_sp.png);
    background-size: 100%;
  }
}

.section1 {
  background-image: url(./../images/section1_bg_pc.jpg);
}

@media screen and (max-width: 767px) {
  .section1 {
    background-image: url(./../images/section1_bg_sp.jpg);
  }
}

.section1 .section-textarea {
  left: 48%;
}

@media screen and (max-width: 767px) {
  .section1 .section-textarea {
    left: 56%;
  }
}

.section1 .section-txt {
  background-image: url(./../images/section1_txt_pc.png);
}

@media screen and (max-width: 767px) {
  .section1 .section-txt {
    background-image: url(./../images/section1_txt_sp.png);
    background-size: 38.13333vw;
  }
}

.section2 {
  background-image: url(./../images/section2_bg_pc.jpg);
}

@media screen and (max-width: 767px) {
  .section2 {
    background-image: url(./../images/section2_bg_sp.jpg);
  }
}

.section2 .section-textarea {
  left: 7.83%;
}

@media screen and (max-width: 767px) {
  .section2 .section-textarea {
    left: 4%;
  }
}

.section2 .section-txt {
  background-image: url(./../images/section2_txt_pc.png);
}

@media screen and (max-width: 767px) {
  .section2 .section-txt {
    background-image: url(./../images/section2_txt_sp.png);
    background-size: 37.73333vw;
  }
}

.section3 {
  background-image: url(./../images/section3_bg_pc.jpg);
}

@media screen and (max-width: 767px) {
  .section3 {
    background-image: url(./../images/section3_bg_sp.jpg);
  }
}

.section3 .section-textarea {
  left: 48%;
}

@media screen and (max-width: 767px) {
  .section3 .section-textarea {
    left: 56%;
  }
}

.section3 .section-txt {
  background-image: url(./../images/section3_txt_pc.png);
}

@media screen and (max-width: 767px) {
  .section3 .section-txt {
    background-image: url(./../images/section3_txt_sp.png);
    background-size: 37.73333vw;
  }
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .modal {
    position: fixed;
    z-index: 8001;
  }
}

.modal:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .modal:before {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.modal .modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 0;
  transition: all .5s;
}

.modal.is-open .modal-inner {
  opacity: 1;
}

.modal .modal-close-btn {
  box-sizing: border-box;
  position: absolute;
  top: 22px;
  right: 40px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: -9999em;
}

@media screen and (max-width: 767px) {
  .modal .modal-close-btn {
    top: 7px;
    right: 1.86667vw;
  }
}

.modal .modal-close-btn a {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal .modal-close-btn a::before, .modal .modal-close-btn a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 1px;
  background: #fff;
  margin-left: -8px;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
}

.modal .modal-close-btn a::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .modal-close-btn a::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .modal-close-btn2 {
  display: none;
}

@media screen and (max-width: 767px) {
  .modal .modal-close-btn2 {
    display: block;
    margin-top: 20px;
  }
  .modal .modal-close-btn2 a {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    background: #666666;
  }
  .modal .modal-close-btn2 a::before, .modal .modal-close-btn2 a::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 90%;
    width: 16px;
    height: 1px;
    background: #fff;
    -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
  }
  .modal .modal-close-btn2 a::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .modal .modal-close-btn2 a::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.modal-main {
  width: 92%;
  margin: 0 auto;
  color: #fff;
  text-align: left;
  max-width: 920px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .modal-main {
    width: 100%;
  }
}

.modal-main-inner {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .modal-main-inner {
    padding: 0 4%;
    position: relative;
  }
  .modal.is-scroll .modal-main-inner {
    overflow-y: scroll;
  }
}

.modal-main-contents {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%;
}

.modal.is-scroll .modal-main-contents {
  display: block;
}

@media screen and (max-width: 767px) {
  .modal-main-inner2 {
    padding-top: 55px;
    margin-top: -55px;
    padding-bottom: 50px;
    margin-bottom: -50px;
  }
  .modal.is-scroll .modal-main-inner2 {
    margin-top: 0;
  }
}

.modal-main-heading {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .modal-main-heading {
    display: block;
  }
}

.modal-main-heading-text {
  font-weight: normal;
  font-weight: 100;
  font-size: 60px;
  line-height: 1.4;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .modal-main-heading-text {
    font-size: 32px;
  }
}

.modal-main-heading-subtext {
  font-size: 18px;
  line-height: 1.44444;
  padding: 0px 0 0px 30px;
  margin-left: 30px;
  position: relative;
}

.modal-main-heading-subtext::before {
  display: block;
  content: '';
  width: 1px;
  height: 0;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .5s;
  transition-delay: .1s;
}

.modal.is-open .modal-main-heading-subtext::before {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .modal-main-heading-subtext {
    padding-left: 0;
    margin: 20px 0 0 0;
  }
  .modal-main-heading-subtext::before {
    display: none;
  }
}

.modal-main-heading2 {
  margin-top: 50px;
  font-size: 22px;
  line-height: 1.36364;
  font-weight: normal;
}

.modal-main-heading2:first-of-type {
  margin-top: 0;
}

.modal-main-txt {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.75;
}
