* {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

body {
  background: #ddd;
  font-size: 16px;
  line-height: 1.5; }

img {
  vertical-align: top; }

a {
  color: #000;
  text-decoration: none; }

.l-container {
  width: 950px;
  padding: 80px 0;
  margin: auto; }

.l-footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  background: #ccc; }

.l-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  background: #ccc; }

.c-btn {
  display: block;
  width: 250px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  font-weight: bold;
  box-sizing: border-box;
  position: relative; }
  .c-btn:before {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.3;
    transition: 0.3s all ease-out; }
  .c-btn:hover:before {
    display: block; }

.c-btn_back {
  color: #003f98;
  background: #fff;
  border: 1px solid #003f98; }

.c-btn_primary {
  color: #fff;
  background: #003f98; }

.c-btn_disable {
  background-color: #aaa; }

.c-heading {
  font-weight: bold; }

.c-heading_lv1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 60px; }

.c-heading_lv2 {
  font-size: 24px;
  margin: 50px 0 10px; }

.c-heading_lv3 {
  font-size: 18px;
  margin: 40px 0 10px; }

.c-heading_lv4 {
  font-size: 16px;
  margin: 30px 0 10px; }

.c-listbtn {
  font-size: 0;
  text-align: center;
  margin-top: 50px; }

.c-listbtn__item {
  display: inline-block;
  margin-left: 30px; }
  .c-listbtn__item:first-child {
    margin-left: 0; }

.c-mainvisual img {
  width: 100%; }

.p-about {
  background: #fff;
  padding: 20px;
  margin-top: 50px; }
  .p-about:before, .p-about:after {
    content: "";
    display: table; }
  .p-about:after {
    clear: both; }

.p-about__img {
  float: left; }

.p-about__txt {
  float: right;
  width: 590px; }

.u-clearfix:before, .u-clearfix:after {
  content: "";
  display: table; }

.u-clearfix:after {
  clear: both; }

.u-color-red {
  color: red; }
