*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

body{
	background: #000;
	font-family: "メイリオ","Meiryo","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #fff;
	font-size: 14px;
	line-height: 1;
}
header{
	width: 100%;
	height: 50px;
	background: rgba(50,50,50,0.7);
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 50px;
}
footer{
	width: 100%;
	height: 50px;
	color: #fff;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
}

.section{
	padding-top: 100px;
}
.section1{
	background: #101010;
}
.section2{
	background: #1a1a1a;
}
.section3{
	background: #101010;
}
.section .inner{
	position: relative;
	padding-top: 432px;
	width: 1024px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center 0;
}
.section1 .inner{
	background-image: url(img1.jpg);
	padding-bottom: 600px;
}
.section2 .inner{
	background-image: url(img2.jpg);
	padding-bottom: 500px;
}
.section3 .inner{
	padding-top: 0;
	padding-bottom: 100px;
}
.section .lead{
	color: #fff;
	font-size: 70px;
}
.section .lead li{
	margin-top: 100px;
}
.section .lead li:first-child{
	margin-top: 0;
}