doctype html
html(lang='ja')
  head
    block meta
      - let title = '';
    meta(charset='UTF-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet' href='./assets/css/style.css')
  body
    block main
