@charset "utf-8";

@import 'config';

// ===================================================================
// cal
// ===================================================================
@function get_vw($size, $viewport: 375) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size: 10) {
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

// ===================================================================
// cal
// ===================================================================
$viewport-width: 750;
@function cal_vw($width) {
  @return $width/$viewport-width * 100vw;
}
