@charset "utf-8";

// ===================================================================
// cal
// ===================================================================
@function get_vw($size, $viewport: 375) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size: 10) {
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}
//@include fz_vw(13);

// ===================================================================
// cal
// ===================================================================
$viewport-width: 750;
@function cal_vw($width) {
  @return $width/$viewport-width * 100vw;
}
//cal_vw(700);

// ===================================================================
// background
// ===================================================================
$img-path: '../images/';
//#{$img-path}

// ===================================================================
// font
// ===================================================================
@import url('https://fonts.googleapis.com/css?family=Oswald');

// ===================================================================
// color
// ===================================================================
$RED: #f40000;

// ===================================================================
// body
// ===================================================================
body {
  &.is-noscroll {
    overflow-y: hidden;
  }
  position: relative;
  overflow-x: hidden;
}

// ===================================================================
// main
// ===================================================================
html {
  min-height: calc(100vh - 128 / 750 * 100vw);
}
.main {
  position: relative;
  display: block;
  min-height: 100%;
  padding: 0;
  background-color: transparent;
}
.header {
  position: relative;
}

// ===================================================================
// hero
// ===================================================================
